<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">

    <div class="image-logo">
        <img class="logo" src="assets/imgs/logo.png" alt="logo" />
    </div>

    <div class="text">
        <h3 class="text1">Welcome</h3>
        <span class="text2">The Future of Pet Care is Here</span>
    </div>

    <div class="form">
        <form style="width: 100%">
            <div class="form-group">
                <input type="text" class="number-field form-control" placeholder="Enter your phone number" />
            </div>
            <div class="form-group">
                <button mat-raised-button color="primary" class="getOtpBtn">Get OTP</button>
            </div>
        </form>
    </div>

</div>